[buildout]
develop = .
parts = test

find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = zope.file
extra-paths = parts/zope3/src
defaults = "--tests-pattern [fn]?tests --exit-with-status".split()
