# content object implementation
persistent
zope.app.location
zope.app.testing
zope.i18nmessageid
zope.interface
zope.mimetype
zope.schema
zope.testing

# view implementation
zope.publisher
zope.app.publisher
